.add-comment-container {
    position: absolute;
    transform: translate(50%, 50%);
    z-index: 10000;
    background-color: gray;
    padding: 4%;
    border: 1px solid black;
    border-radius: 25%;
    width: 40%;
    height: 30%;
}

.add-comment-container h3 {
    text-align: center;
}

.add-comment-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.add-comment-container input,
.add-comment-container textarea {
    width: 80%;
    margin: 5px;
}

.add-comment-container button {
    width: 50%;
}

.comment-close {
    display: inline-block;
    position: absolute;
    top: 10%;
    right: 10%;
    cursor: pointer;
}
