.add-comment-container {
    width: 80%;
}

.add-comment-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-comment-container input,
.add-comment-container textarea {
    width: 80%;
    padding: 1%;
    font-size: 1.1rem;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.add-comment-container button {
    width: 30%;
}

.comment-close {
    text-align: right;
}

@media only screen and (max-width: 600px) {
    .add-comment-container button {
        width: 80%;
    }
}
